<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=
				"http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context 
				http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx 
				http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<bean id="department" class="com.collection.Department">
		<property  name="name" value="财务部"></property>
		<property name="empName">
			<list>
				<value> lixiao1</value>
				<value> lixiao2</value>
				<value> lixiao3</value>
			</list>
		</property>
		<property name="empList">
			<list>
				<ref bean="emp1"/>
				<ref bean="emp2"/>	
			</list>
		</property>
		<property name="empSet">
			<set>
				<ref bean="emp1"/>
				<ref bean="emp2"/>
			</set>
		</property>
		<property name="empMap">
			<map>
				<entry key="1" value-ref="emp1"/>
				<entry key="2" value-ref="emp2"/>
			</map>
		
		</property>
		
		<property name="pp">
			<props>
				<prop key="pp1">abcde</prop>
				<prop key="pp2">hijklmn</prop>
			</props>
		</property>
	</bean>
	<bean id="emp1" class="com.collection.Employee"  >
	<property name="name">
		<value>天津</value>
	</property>
	</bean>
	<bean id="emp2" class="com.collection.Employee">
		<property name="name" value="北京"></property>
	</bean>
</beans>		
	