@CHARSET "UTF-8";
.style {
	font-size: 20px;
	font:"华文新魏";
}

#style_title {
	background:white;
	font-size:40px;
	color: orange;
	font:"楷体";
}

.style1 {
	
	color: red;
	font-style: italic;
}

.style2 {
	
	font-weight: bold;
}

#style3{
	
	font-weight: bolder;
	text-decoration: underline;
}

.style1, .style2, #style3 ,#style4{
	
	background-color: silver;
	}
